* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* menu */

.menu {
  list-style: none;
  font-size: 2em;
}

.menu li {
  padding: 10px 0;
}

/* Color switcher */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

button[data-start],
button[data-stop] {
  padding: 20px;
  text-transform: uppercase;
  font-size: 2em;
}

button[data-stop] {
  margin-left: 10px;
}

/* Countdown timer */
.timer {
  display: flex;
}

button[timer-start],
#datetime-picker {
  font-size: 3.5em;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field + .field {
  margin-left: 40px;
}
.value {
  font-size: 8em;
  line-height: 1em;
}
.label {
  font-size: 3em;
  text-transform: uppercase;
}
/* Promise generator */
